* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightcoral;
  text-align: center;
}
.size {
  padding: 20px;
  margin: 10px;
  font-size: 50px;
}

.board {
  margin: 100px auto;
  border-collapse: collapse;
  /*no tenga borde la tabla*/
  font-family: Arial, Helvetica;
  font-size: 91px;
}

.board td {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}


/*colocar los bordes a las columnas excepto a la ultima*/

.row:not(:last-child) {
  border-bottom: 2px solid black;
}

.row .cell:not(:last-child) {
  border-right: 2px solid black;
}

.board td:hover {
  background-color: rgba(94, 221, 243, 0.712);
}

.btn {
  background-color: brown;
  color: rgba(7, 5, 26, 0.712);
  border: none;
  padding: 15px;
  font-size: 28px;
}

.btn:hover {
  background-color: transparent;
}